#header {
    color: #9C2007;
    text-align: center;
    font-size: 150%;
}

div {
    text-align: center;
    font-size: 150%;
}

input, button {
    touch-action: manipulation;
}

#git-logo {
    width: 10%;
    height: auto;
}

#git-link {
    position: absolute;
    bottom: 0;
}


/* Mobile formatting*/
@media (orientation: portrait) {
  #header {
    font-size: 175%;
  }

  div {
    font-size: 250%;
  }

  button {
    font-size: 50%;
  }
}