#header {
    color: #9C2007;
    text-align: center;
    font-size: 150%;
}

div {
    text-align: center;
    font-size: 150%;
}

#git-logo {
    width: 10%;
    height: 10%;
}

#footerMenu {
    position: absolute;
    bottom: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footerMenu_li {
    float: left;
    font-size: 100%;
}
